<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.actionSets">
      <actionSet
            description="Scaps Search Action"
            id="scaps.eclipse.actionSet"
            label="Scaps Search Actions"
            visible="true">

         <menu
               label="Search"
               path="navigate"
               id="org.eclipse.search.menu">
                <groupMarker name="internalDialogGroup"/>   <!-- not to be used by clients  -->
                <groupMarker name="dialogGroup"/>           <!-- to be used by clients      -->
                <separator name="fileSearchContextMenuActionsGroup"/> <!-- to be used by clients      -->
                <separator name="contextMenuActionsGroup"/> <!-- to be used by clients -->
                <separator name="occurencesActionsGroup"/> <!-- to be used by clients -->
                <separator name="extraSearchGroup"/> <!-- to be used by clients -->
         </menu>
         <action
               class="scaps.eclipse.ui.view.actions.ScapsSearchAction"
               enablesFor="*"
         	   id="ScapsEclipse.OpenScapsSearch"
    		   label="Scaps..."
               menubarPath="org.eclipse.search.menu/dialogGroup"
               style="push">
         </action>
      </actionSet>
   </extension>

	<extension point="org.eclipse.ui.workingSets">
		<workingSet
			id="scaps.eclipse.ui.view.workingset.ScapsWorkingSetPage"
			name="Scaps Working Set"
			description="Contains projects and libraries witch will be indexed."
			icon="icons/resworkset.gif"
			pageClass="scaps.eclipse.ui.view.workingset.ScapsWorkingSetPage"
			updaterClass="org.eclipse.jdt.internal.ui.workingsets.JavaWorkingSetUpdater"
			elementAdapterClass="org.eclipse.jdt.internal.ui.workingsets.JavaWorkingSetElementAdapter">
		</workingSet>
	</extension>

   <extension point="org.eclipse.search.searchPages">
	   <page id="scaps.eclipse.ui.view.search.ScapsSearchPage"
			label="Scaps Search"
			sizeHint="460,160"
			extensions="java:90, jav:90"
			showScopeSection="false"
			canSearchEnclosingProjects="true"
			class="scaps.eclipse.ui.view.search.ScapsSearchPage">
	   </page>
   </extension>
   
	<!-- Search Results panel extension point -->
	<extension point="org.eclipse.search.searchResultViewPages">
		<viewPage id="scaps.eclipse.ui.view.search.ScapsSearchResultPage"
				searchResultClass="scaps.eclipse.ui.view.search.ScapsSearchResult"
				class="scaps.eclipse.ui.view.search.ScapsSearchResultPage" />
	</extension>

   <extension point="org.eclipse.ui.commands">
      <category
            name="Scaps Category"
            id="scaps.eclipse.ui.view.commands.category">
      </category>
      <command
            name="Scaps Assistant"
            categoryId="scaps.eclipse.ui.view.commands.category"
            id="scaps.eclipse.ui.view.commands.assistant">
      </command>
	  <!-- UNUSED command whitch opens the scaps search page 
      <command
            name="Scaps.."
            categoryId="scaps.eclipse.ui.view.commands.category"
            id="scaps.eclipse.ui.view.commands.scapssearchcommand">
      </command>
      -->
      <!-- command whitch directly starts the scaps indexing, if the ScapsWorkingSet exists -->
      <command
            name="Scaps Run Indexer"
            categoryId="scaps.eclipse.ui.view.commands.category"
            id="scaps.eclipse.ui.view.commands.indexer.run">
      </command>
      <!-- command whitch opens the scaps working set edit page-->
      <command
            name="Scaps Configure Indexer..."
            categoryId="scaps.eclipse.ui.view.commands.category"
            id="scaps.eclipse.ui.view.commands.indexer.configure">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="scaps.eclipse.ui.view.commands.assistant"
            class="scaps.eclipse.ui.view.handlers.ScapsAssistantHandler">
      </handler>
      <handler
            commandId="scaps.eclipse.ui.view.commands.indexer.run"
            class="scaps.eclipse.ui.view.handlers.ScapsRunIndexerHandler">
      </handler>
      <handler
            commandId="scaps.eclipse.ui.view.commands.indexer.configure"
            class="scaps.eclipse.ui.view.handlers.ScapsConfigureIndexerHandler">
      </handler>
   </extension>
   
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="menu:edit?after=additions">
       	<command commandId="scaps.eclipse.ui.view.commands.assistant" />
      </menuContribution>
      <menuContribution locationURI="menu:project?after=additions">
		<separator name="separator-id" visible="true" />
       	<command commandId="scaps.eclipse.ui.view.commands.indexer.configure" />
        <command commandId="scaps.eclipse.ui.view.commands.indexer.run" />
      </menuContribution>
   </extension>
   

</plugin>
